<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <style>img{width:100%;
    height:100%;}
body
</style>
</head>
<body>

  <div class="continer">

       <div class="row">
           <div class="co-sm-12">
               <br>
               <br>
               <h style="padding-left: 570px">
                   PHOTOHRAPHY
               </h>
               <br>
               <br>

           </div>

           <div class="col-sm-12">
               <div class="col-sm-4">
                   <img src="{%static 'img/item-01.jpg'%}" class="center">

                   
               </div>
               <div class="col-sm-4">
                   <img src=" {%static 'img/item-02.jpg'%}">
                   
               </div>
               <div class="col-sm-4">
                   <img  src="{%static 'img/lioness.jpg'%}">
                   
               </div>
           </div>
           <div class="col-sm-12">
               <div class="col-sm-4">
                   <h><center>MOBILE PHOTOGRAPHY</center></h>
                   <P><center> Taking pictures with a mobile phone. The camera technology on smartphones is more than adequate for taking photos and publishing them online. Depending on the camera quality and number of pixels, photos can be printed 8x10" and higher with excellent results.</center></P>
               </div>
               <div class="col-sm-4">
                   <h><center>NATURE PHOTOGRAPHY</center></h>
                   <p>
                       <center>
                       Nature photography is a wide range of photography taken outdoors and devoted to displaying natural elements such as landscapes, wildlife, plants, and close-ups of natural scenes and textures.
                       </center>
                   </p>
               </div>
               <div class="col-sm-4">
                   <h><center>WILDLIFE PHOTOGRAPHY</center></h>
                   <p><center>Wildlife photography is a genre of photography concerned with documenting various forms of wildlife in their natural habitat. As well as requiring photography skills, wildlife photographers may need field craft skills</center></p>
               </div>
           </div>
        
       </div>
  </div>

</body>
</html>